data/*
!data/README.md
build/catapult-config/*
!build/catapult-config/README.md
build/generated-addresses/*
!build/generated-addresses/README.md
build/nemesis/*
!build/nemesis/README.md
build/state/*
!build/state/README.md
catapult-rest
catapult-rest/*
